{% extends_admingenerated "NitraPromoBundle:PromoList:row.html.twig" %}

{% block list_td_column_image %}
    {% if Promo.image %}
        <img src="{{ Promo.image }}" style="max-height: 100px; max-width: 100px;">
    {% endif %}
{% endblock %}